<p>Dear <%= @applicant.firstname %>, </p>

<p>Thank you for applying to Meet & Multiply. You profile is a great fit for the types of partners <%= @originator %> is hoping to meet and we would love to have you at the event. </p>

<p>EMAIL CONTENT NEEDED</p>

<p>The Meet & Multiply team</p>
